/* Details.css */

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.card {
  max-width: 1000px;
  width: 80%;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.card h1 {
  color: #333;
}

.card img {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card .details-info {
  text-align: left; /* Align details to the left */
}

.card .detail-row p {
  flex-basis: calc(20% - 10px); /* Adjust the width of each detail */
  margin-bottom: 10px; /* Add spacing between details */
}

span {
  font-weight: bolder;
  font-size: 17px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card .info {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight:normal;
  font-size:medium;
}

.card .year {
  font-size: 18px; /* Adjust the font size for the year */
  margin-left: 5px; /* Add spacing between "Year:" and the actual year */
}

.card button {
  padding: 10px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.card button:hover {
  background-color: #0056b3;
}
