/* Details.css */

.card-container {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.card {
  max-width: 1000px;
  width: 80%;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card h1 {
  color: #333;
}

.card img {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card .details-info {
  text-align: left;
}

.card .detail-row p {
  display: flex;
  flex-basis: calc(20% - 10px);
  margin-bottom: 20px;
}

span {
  font-weight: bolder;
  font-size: 17px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card .info {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
  font-size: medium;
}

.card .button-container {
  display: flex;
  justify-content: space-between; /* Align buttons with space between them */
  margin-top: 20px;
}

.card button {
  flex: 1;
  margin-left: 10px;
  padding: 1px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card button:hover {
  background-color: #0554a8;
}

.card button.delete-btn {
  background-color: #f44336;
  color: #fff;
  margin-left: 10px;
  transition: background-color 0.3s;
}

.card button.delete-btn:hover {
  background-color: #d32f2f;
}
