
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;900&family=Montserrat:ital,wght@1,200;1,300;1,400&family=Pacifico&family=Permanent+Marker&family=Poppins:ital@0;1&display=swap');

.container {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: transparent;
}

.transparent-navbar {
  background-color: transparent;
  box-shadow: none;
}

.navbar-toggler {
  background-color: #007BFF;
}

.ms-auto.navbar-nav{
  font-size: large;
  font-size: 1.5em ;
  padding-right: auto;
}

.brand-logo {

height: 70px;
width: 140px;
border: solid rgb(32, 30, 30);
border-radius:1.5em;
}

.brand-text.navbar-brand{
  font-family:'Pacifico', sans-serif;
  font-weight: 300;
  font-size: 2em;
}

.brand-text {
  font-size: 1.5em;
  font-weight: bolder;
  color: #b8cce2;
}


.nav-link {
  transition: color 1.3s ease-in-out;
  font-weight: 13px; 
}

.nav-link:hover {
  color: #007BFF;
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px;
  }
}
