@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;900&family=Montserrat:ital,wght@1,200;1,300;1,400&family=Pacifico&family=Permanent+Marker&family=Poppins:ital@0;1&display=swap');

.home-page {
  text-align: center;
  padding: 50px;
}

.welcome-message {
  animation: fadeIn 2s ease-in-out;
}

.special-text {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #f4f5f5;
  font-size: 110px;
  text-shadow: 14px 14px 18px #000; 
}

.welcome{
  color: #f4f5f5;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-shadow: 14px 14px 18px #000; 
}

.logoName {
  font-family:'Pacifico', sans-serif;
  font-weight:lighter;
  font-size: 50px;
  color: #faf6f5;
  text-shadow: 14px 14px 18px #000; /* black border */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}