/* Profile.css

.profile-container {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.profile-container h2 {
  color: #333;
}

.profile-container div {
  margin-bottom: 20px;
}

.profile-container p {
  margin: 0;
  color: #555;

}

.profile-container h3 {
  color: #333;
}

.profile-container ul {
  list-style: none;
  padding: 0;
}

.profile-container li {
  margin-bottom: 8px;
  color: #333;
} */
