/* Login.css */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
  
  .login-form {
    background-color:rgb(255, 255, 255);
    border: 1px solid #090909;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  .input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}
  
  button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .error-message {
    color: #dc3545;
    margin-top: 10px;
  }
  
  .success-message {
    color: #28a745;
    margin-top: 10px;
  }
  